In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("Automobile_data_for CDE_EDA.txt")

In [3]:
cars.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [5]:
cars_cat = cars.select_dtypes(object)
cars_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  205 non-null    object
 1   make               205 non-null    object
 2   fuel-type          205 non-null    object
 3   aspiration         205 non-null    object
 4   num-of-doors       205 non-null    object
 5   body-style         205 non-null    object
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   engine-type        205 non-null    object
 9   num-of-cylinders   205 non-null    object
 10  fuel-system        205 non-null    object
 11  bore               205 non-null    object
 12  stroke             205 non-null    object
 13  horsepower         205 non-null    object
 14  peak-rpm           205 non-null    object
 15  price              205 non-null    object
dtypes: object(16)
memory usage: 25.8+ KB

In [6]:
cars_cat["fuel-type"].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [7]:
pd.get_dummies(cars_cat["fuel-type"])

     diesel  gas
0         0    1
1         0    1
2         0    1
3         0    1
4         0    1
..      ...  ...
200       0    1
201       0    1
202       0    1
203       1    0
204       0    1

[205 rows x 2 columns]

In [8]:
cars["num-of-doors"].value_counts()

four    114
two      89
?         2
Name: num-of-doors, dtype: int64

# One_Hot_Encoder

In [9]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ohe = ohe.fit_transform(cars_cat[["num-of-doors"]]).toarray()
ohe_col = pd.DataFrame(ohe)
cars_cat = pd.concat([cars_cat,ohe_col],axis=1)
cars_cat = cars_cat.drop(['num-of-doors'],axis=1)

In [10]:
cars_cat

,normalized-losses,make,fuel-type,aspiration,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,horsepower,peak-rpm,price,0,1,2
0,?,alfa-romero,gas,std,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,111,5000,13495,0.0,0.0,1.0
1,?,alfa-romero,gas,std,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,111,5000,16500,0.0,0.0,1.0
2,?,alfa-romero,gas,std,hatchback,rwd,front,ohcv,six,mpfi,2.68,3.47,154,5000,16500,0.0,0.0,1.0
3,164,audi,gas,std,sedan,fwd,front,ohc,four,mpfi,3.19,3.40,102,5500,13950,0.0,1.0,0.0
4,164,audi,gas,std,sedan,4wd,front,ohc,five,mpfi,3.19,3.40,115,5500,17450,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,95,volvo,gas,std,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,114,5400,16845,0.0,1.0,0.0
201,95,volvo,gas,turbo,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,160,5300,19045,0.0,1.0,0.0
202,95,volvo,gas,std,sedan,rwd,front,ohcv,six,mpfi,3.58,2.87,134,5500,21485,0.0,1.0,0.0
203,95,volvo,diesel,turbo,sedan,rwd,front,ohc,six,idi,3.01,3.40,106,4800,22470,0.0,1.0,0.0
204,95,volvo,gas,turbo,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,114,5400,22625,0.0,1.0,0.0

# Label_Encoder

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit_transform(cars["fuel-type"])

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1])

In [12]:
for col in cars_cat:
    le=LabelEncoder()
    cars_cat[col]=le.fit_transform(cars_cat[col])

In [13]:
cars_cat

,normalized-losses,make,fuel-type,aspiration,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,horsepower,peak-rpm,price,0,1,2
0,51,0,1,0,0,2,0,0,2,5,23,4,5,10,31,0,0,1
1,51,0,1,0,0,2,0,0,2,5,23,4,5,10,50,0,0,1
2,51,0,1,0,2,2,0,5,3,5,1,27,20,10,50,0,0,1
3,27,1,1,0,3,1,0,3,2,5,13,24,2,16,36,0,1,0
4,27,1,1,0,3,0,0,3,1,5,13,24,8,16,61,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,49,21,1,0,3,2,0,3,2,5,35,15,7,15,56,0,1,0
201,49,21,1,1,3,2,0,3,2,5,35,15,23,14,73,0,1,0
202,49,21,1,0,3,2,0,5,3,5,26,7,13,16,77,0,1,0
203,49,21,0,1,3,2,0,3,3,3,6,24,3,8,79,0,1,0
204,49,21,1,1,3,2,0,3,2,5,35,15,7,15,80,0,1,0